$prefix: prod-saver-;

/*
 * Applying some css resets to limit the impact
 * of styles already present on the page
 */
.#{$prefix}banner,
.#{$prefix}banner * {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;

  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 100%;

  border: none;
  border-radius: 0;

  background: transparent;
}

/*
 * Base styles for the container
 */
.#{$prefix}banner {
  position: fixed;
  padding: 0.5em;
  z-index: 99999;
  background: #9b24ff;
  color: #fff;
  opacity: 0.8;
  overflow: hidden;
  transition: all 0.2s ease;

  /*
   * Bar type banner
   */
  &.#{$prefix}bar {
    &.#{$prefix}top {
      top: 0;
      left: 0;
      width: 100%;

      &.#{$prefix}hidden {
        transform: translateY(-100%);
        top: 2px;
      }
    }

    &.#{$prefix}bottom {
      bottom: 0;
      left: 0;
      width: 100%;

      &.#{$prefix}hidden {
        transform: translateY(100%);
        bottom: 2px;
      }
    }

    &.#{$prefix}left {
      bottom: 0;
      left: 0;
      width: 100vh;
      transform-origin: 0 0;
      transform: rotateZ(-90deg) translateX(-2em);

      &.#{$prefix}hidden {
        transform: rotateZ(-90deg) translateX(-2em) translateY(-100%);
        left: 2px;
      }
    }

    &.#{$prefix}right {
      bottom: 0;
      right: 0;
      width: 100vh;
      transform-origin: 100% 0;
      transform: rotateZ(90deg) translateX(2em);

      &.#{$prefix}hidden {
        transform: rotateZ(90deg) translateX(2em) translateY(-100%);
        right: 2px;
      }
    }
  }

  /*
   * Macaron type banner
   */
  &.#{$prefix}macaron {
    &.#{$prefix}top {
      &.#{$prefix}left {
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: 0 0;
        transform: rotateZ(-45deg) translateX(-50%) translateY(4em);

        &.#{$prefix}hidden {
          transform: rotateZ(-45deg) translateX(-50%) translateY(-100%);
          top: 6px;
        }
      }

      &.#{$prefix}right {
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: 100% 0;
        transform: rotateZ(45deg) translateX(50%) translateY(4em);

        &.#{$prefix}hidden {
          transform: rotateZ(45deg) translateX(50%) translateY(-100%);
          top: 6px;
        }
      }
    }

    &.#{$prefix}bottom {
      &.#{$prefix}left {
        bottom: 0;
        left: 0;
        width: 100%;
        transform-origin: 0 100%;
        transform: rotateZ(45deg) translateX(-50%) translateY(-4em);

        &.#{$prefix}hidden {
          transform: rotateZ(45deg) translateX(-50%) translateY(100%);
          bottom: 6px;
        }
      }

      &.#{$prefix}right {
        bottom: 0;
        right: 0;
        width: 100%;
        transform-origin: 100% 100%;
        transform: rotateZ(-45deg) translateX(50%) translateY(-4em);

        &.#{$prefix}hidden {
          transform: rotateZ(-45deg) translateX(50%) translateY(100%);
          bottom: 6px;
        }
      }
    }
  }

  /*
   * Banner label
   */
  .#{$prefix}label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }
}
